@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap');

/* Global Styles */
:root {
    --color-bg-grey: #f9f9f9;
    --color-white: #ffffff;
    --color-blue: #5275DA;
    --font-open: 'Open Sans', sans-serif;
    --font-robo: 'Roboto', sans-serif;
    --font-mont: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-open);
    background-color: var(--color-bg-grey);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
hr {
    color: var(--color-bg-grey)
}

/* Header */
#header {
    text-align: center;
    padding: 50px 0;
    background-color: var(--color-white);
}
#header .logo {
    text-decoration: none;
    font-size: calc(25px + 1vw);
    color: black;
}
#header .nav-menu {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;
}
#header .nav-menu li {
    padding: 10px 10px 10px 10px;
    font-size: calc(14px + .5vw);
    font-weight: bold;
    font-family: var(--font-mont);
    color: black;
}
#header .nav-menu li:hover {
    text-decoration: underline;
}

/* Main */
#main .container{
    background-color: var(--color-white);
    padding: 0 20px;
    height: 100%;
}
#main .grid-template {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid lightgray;
    height: 100%;
}
#main .grid-title {
    color: var(--color-blue);
}
#main .latest .card {
    text-align: center;
}
#main .card img {
    width: 100%;
    object-fit: cover;
}
#main .sports {
    text-align: right;
    padding: 1rem;
}
#main .sports .card {
    margin-bottom: 20px
}
#main .top {
    text-align: center;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey; 
    padding: 1rem;
}
#main .top .card {
    margin-bottom: 20px;
}
#main .entertainment {
    text-align: left;
    padding: 1rem;
}
#main .entertainment .card {
    margin-bottom: 20px;
    text-align: right;
}
#main .card-text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
@media (max-width: 600px) {
    #main .grid-template {
        grid-template-columns: 1fr;
    }
    #main .main {
        text-align: center;
        order: 1;
    }
    #main .latest {
        text-align: center;
        order: 2;
    }
    #main .most {
        text-align: center;
        order: 3;
    }
}

/* footer */
#footer {
    display: flex;
    background-color: white;
    font-size: 14px;
    text-align: center;
    color: lightgrey;
}